.navbar {
  background-color: #808080;
}
.brand{
  color: #2c3e50;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  flex-shrink: 0;
  display: flex;
  border-radius: 9px;
  background: #D9D9D9;
}

.capitalize-first {
  text-transform: lowercase;
}
.capitalize-first::first-letter {
  text-transform: uppercase;
}

.font-container {
  color: #000;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.padding{
  padding-top: 20px;
}
.small{
  font-size: 12px;
}

.padding-name {
 padding-left: 24px;
}

.padding-value {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.lh-title {
  line-height: 1.25;
}

.w1 {
  width: 1rem;
}

.navy {
  color: #001b44;
}

.bg-lightest-blue {
  background-color: #cdecff;
}

.pa4 {
  padding: 2rem;
}

.ml3 {
  margin-left: 1rem;
}